body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #343a40;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
